In [36]:
import os
import pandas as pd
from IPython.display import display
lst = os.listdir("Data")
print(lst)

['class1.txt', 'class2.txt', 'class3.txt', 'class4.txt', 'class5.txt', 'class6.txt', 'class7.txt', 'class8.txt']

In [143]:
def kt(id):
    if(len(id)!=9):
        return False
    elif(id[1:].isnumeric()==False):
        return False
    elif(id[0:1]!="N"):
        return False
    else: return True
cls=input("Nhập vào tên lớp để chấm điểm")
def tinh(ls,results):
    diem = 0
    for i in range(len(ls)):
        if(ls[i]==results[i]):
            diem+=4
        elif(ls[i]!=results[i] and ls[i]!=""):
            diem-=1
    return(diem)

global str
def loaddata(cls):
    if((cls+".txt") in lst):
        with open("Data/"+cls+".txt","r") as file:
            print("Successfully opened "+cls+".txt")
            print("**** ANALYZING ****")
            st = file.read()
            slst= st.split("\n")
            s = []
            invalid = 0
            valid = 0
            for line in slst:
                str2 =line.split(",")
                if(len(str2)>26):
                    print("Invalid line of data: does not contain exactly 26 values:")
                    print(line)
                    invalid +=1
                elif(kt(str2[0])==False):
                    print("Invalid line of data: N# is invalid")
                    invalid +=1
                    print(line)
                else:
                    s.append(tuple(line.split(",")))
                    valid +=1
            df = pd.DataFrame(data = s, columns = ['Mã số','Câu 1','Câu 2','Câu 3','Câu 4','Câu 5','Câu 6','Câu 7','Câu 8','Câu 9','Câu 10','Câu 11','Câu 12',\
                    'Câu 13','Câu 14','Câu 15','Câu 16','Câu 17','Câu 18','Câu 19','Câu 20','Câu 21','Câu 22','Câu 23','Câu 24','Câu 25'])
            print("*****Report*****")
            print("Total valid lines of data: ", valid)
            print("Total invalid lines of data: ", invalid)
            return(df)
    else:
        print("Không tồn tại file danh sách đã chon vui long nhập lại từ class1-->class8")
        return
answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"
def chamdiem(answer_key, dataFrame):
    lst_answer = answer_key.split(",")
    Result =[]
    for i in range(dataFrame.shape[0]):
        ls = list(dataFrame.iloc[i])
        diem= tinh(ls[1:],lst_answer)
        
        Result.append(diem)
    print(Result)
                

        
    
    
df = loaddata(cls)
display(df)
chamdiem(answer_key, df)

Successfully opened class1.txt
**** ANALYZING ****
*****Report*****
Total valid lines of data:  20
Total invalid lines of data:  0

,Mã số,Câu 1,Câu 2,Câu 3,Câu 4,Câu 5,Câu 6,Câu 7,Câu 8,Câu 9,...,Câu 16,Câu 17,Câu 18,Câu 19,Câu 20,Câu 21,Câu 22,Câu 23,Câu 24,Câu 25
0,N00000001,A,A,D,D,C,D,D,A,,...,C,B,D,A,C,,A,,C,D
1,N00000002,,A,,D,,B,D,A,C,...,C,B,D,C,C,A,A,B,,D
2,N00000003,B,A,,D,C,B,D,A,C,...,C,B,D,A,,A,,B,D,D
3,N00000004,B,B,D,,,B,D,A,C,...,C,B,D,,C,A,D,B,C,D
4,N00000005,B,A,,D,,B,D,A,C,...,C,B,D,D,C,A,A,,D,D
5,N00000006,B,A,D,A,C,B,D,A,C,...,C,,C,A,C,A,C,B,D,A
6,N00000007,B,A,D,D,C,B,D,A,C,...,C,B,D,,C,A,A,B,D,
7,N00000008,A,A,D,D,C,,D,A,C,...,A,B,D,A,C,A,,B,B,D
8,N00000009,B,A,,D,C,B,D,A,C,...,A,B,D,A,C,A,A,B,D,D
9,N00000010,,A,D,B,C,B,D,A,C,...,C,B,D,A,D,,,B,D,B
10,N00000011,B,A,D,,C,B,D,A,C,...,C,B,D,A,C,A,B,B,D,D
11,N00000012,B,,D,D,C,B,D,A,C,...,A,B,D,A,,A,A,A,,C
12,N00000013,,A,D,,B,B,,A,C,...,C,B,D,A,C,A,A,B,D,D
13,N00000014,B,B,D,D,C,B,,D,C,...,C,,D,A,C,A,A,,D,D
14,N00000015,A,C,C,D,C,B,,A,C,...,C,B,D,A,C,A,B,,D,D
15,N00000016,B,A,C,D,,B,D,A,C,...,C,B,D,A,C,A,A,B,D,D
16,N00000017,B,A,D,D,C,B,C,A,D,...,C,B,D,D,B,,A,B,D,D
17,N00000018,B,A,D,A,C,B,D,A,C,...,,B,D,A,B,A,A,B,,D
18,N00000019,B,A,D,D,C,B,D,C,C,...,C,B,D,A,,A,A,B,D,D
19,N00000020,B,,D,D,C,B,D,A,C,...,D,B,D,B,C,A,A,B,D,D

[59, 70, 84, 73, 83, 66, 88, 67, 86, 73, 86, 73, 73, 78, 72, 91, 66, 78, 78, 68]

In [139]:

global str
mar = 5
str = str(mar)

TypeError: 'str' object is not callable